<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlexisIndickWeightTrackingApp">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>

                <!-- MAIN represents that it is the Main Activity -->
                <action android:name="android.intent.action.MAIN" />
                <!-- Launcher Denotes that it will be the first launching activity -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Dashboard Activity -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false">
            <intent-filter>

                <!-- DASH represents that it is the DashboardActivity -->
                <action android:name="android.intent.action.DASH" />

            </intent-filter>
        </activity>
        <!-- AddWeight Activity -->
        <activity
            android:name=".AddWeight"
            android:exported="false">
            <intent-filter>

                <!-- ADDWEIGHT represents that it is the AddWeight Activity -->
                <action android:name="android.intent.action.ADDWEIGHT" />

            </intent-filter>
        </activity>
        <!-- EditWeight Activity -->
        <activity
            android:name=".EditWeight"
            android:exported="false">
            <intent-filter>

                <!-- EDITWEIGHT represents that it is the EditWeight Activity -->
                <action android:name="android.intent.action.EDITWEIGHT" />

            </intent-filter>
        </activity>

        <!-- User Settings Activity -->
        <activity
            android:name=".SettingsforUser"
            android:exported="false">
            <intent-filter>

                <!-- SETTINGS represents that it is the SettingsforUser Activity -->
                <action android:name="android.intent.action.SETTINGS" />

            </intent-filter>
        </activity>
    </application>

</manifest>